<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      .nav li{
        position: relative;
        left:600px;
        display:inline-block;
        list-style: none;
        padding:20px;
      }
    </style>
</head>
<body>
  <div class="head-portion">
    <h1>Easy Sports</h1>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./create sports carosal.html">Create</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./listsports.html">List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" >logout(admin)</a>
  </li>
</ul>
</div>


</body>
</html>