<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List product</title>
</head>
<body>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      {%for sc in catagory%}
      <div class="card-body">
        <h5 class="card-title">{{sc.name_of_sports}}</h5>

        <a href="{%url 'updatesced' sc.id%}" class="btn btn-primary">Update</a>
        <a href="{%url 'deletesced' sc.id%}" class="btn btn-primary">Delete</a>
      </div>
      {%endfor%}
    </div>
  </div>

</div>
</body>
</html>